.row_wrapper {
    color: #fff;
    margin-bottom: 10px;
    z-index: 3;
    margin-left: 5vw;
}

.row_title {
    font-size: 1.4vw;
    letter-spacing: 0.7px;
    margin-bottom: 10px;
    font-weight: bold;
    z-index: 3;
}

.row_card {
    display: flex;
    align-items: center;
    height: 130px;
    color: #fff;
    overflow-x: scroll;
}

.row_card::-webkit-scrollbar {
    display: none;
}